body{font-size:14px;}
#progress{position: absolute; z-index: 105; left: expression((document.body.offsetWidth-200)/2); top: expression(50);width:400px;height:120px;border:1px solid black;display:none;}
#progressBar{border:1px solid black;width:300px;height:20px;margin-left:50px;margin-top:60px;}
#uploaded{height:20px;width:1px;background-color:green;}
#title{height:20px;background-color:#CC6633;pading:-10px;}
#close{width:10px;height:10px;right:1px;top:0px;position:absolute;display:none;cursor:pointer;}
